body {
    font-family: monospace, sans-serif;
}
    
img {
    height: 400px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.75);

}

.gallery-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-title {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.availablePrints {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.availablePrints li {
    list-style-type: none;
    font-size: 1.5em;

}

